#album-info {
  margin-bottom: 4em;
  color: rgb(255, 255, 255);
}

#album-cover-art {
  width: 30%;
  height: 30%;
  margin-top: 3.3em;
  align: center;
}

.album-details {
  margin-top: 8%;
}

#album-title, .artist {
  margin-top: -5px;
  margin-bottom: .75em;
}

#song-list {
  width: 80%;
  margin-left: 1.5em;
  color: rgb(255, 255, 255);
}


td {
  border-bottom: 1px solid #333;
  padding: 8px;
}

button {
  background: none;
  border: none;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.song-title, .song-duration {
  font-size: 1.25em;
  color: rgb(255, 255, 255);

}

.song-actions button:hover .song-number {
  display: none;
}

.song-actions button .ion-ios-play {
  display: none;
}

.song-actions button:hover .ion-ios-play{
  display: block;
}

.hidden-number {
  display: none;
}
