@import url('https://fonts.googleapis.com/css?family=Francois+One|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Knewave');

nav {
  margin-top: .75rem;
  text-align: center;
}

.main-content {
  margin-top: 1rem;
}

#nav-landing, #nav-library {
  color: rgb(255, 255, 255);
}

a:link, a:visited {
  text-decoration: none;
}

#nav-landing:hover, #nav-library:hover {
  text-decoration: none;
  color: rgb(222, 222, 222);
}

a:active {
  text-decoration: none;
}

#nav-landing {
  font-family: "Roboto";
  font-size: 1.5rem;
  margin-right: .5rem;
}

#nav-library {
  font-family: "Roboto";
  font-size: 1.5rem;
}
